#playerImage{
    width: 100%;
    height: auto;
    max-height: 75px;
    max-width: 75px;
    margin: 0 auto;
    border-radius: 200px;
    border: 1px solid #000;
    object-fit: cover;
    object-position: top center;
}

.row{
    display: flex;
    justify-content: left;
    align-items: center;
    margin: 0 auto;
    padding: 0 10px;
    gap: 10px;
}

.bagItem{
    font-weight: 700;
}